<br>
<br>

<h1>My Bookings</h1>
<div class="container">
  <div class="row">
    <ul>
      <% current_user.bookings.each do |booking| %>
        <div class="card-booking">
          <div class="booking-components">
            <div class="booking-image" style="background-image: url('<%= booking.yacht.photos.attached? ? "#{cl_image_path booking.yacht.photos.first.key}" : "https://images.theconversation.com/files/403129/original/file-20210527-21-wxxnze.jpg" %>');">
            </div>
            <div class="booking-details">
              <div class="info">
                <h2><%= link_to "#{booking.yacht.name}", booking_path(booking) %></h2>
                <div class="info-detail">
                  <div class="short-desc">
                    <p>Start date: <%= booking.start_date %></p>
                    <p>End date: <%= booking.end_date %></p>
                  </div>
                </div>
              </div>
              <div class="action-buttons">
                <div class="button">
                  <%= link_to "Edit", edit_booking_path(booking) %>
                </div>
                <div class="button">
                  <%= link_to "Delete",
                      booking_path(booking),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<%# link_to "#{@booking.yacht.name}", booking_path(booking) %>
