<br>
<br>

<h1><strong>Booking Confirmation<strong></h1>
<div class="container">
  <div class="row">
    <ul>
        <div class="card-booking-new">
          <div class="booking-components">
            <% if @booking.yacht.photos.attached? %>
              <%= cl_image_tag @booking.yacht.photos.first.key, width: 300; %>
            <% else %>
              <%= image_tag("https://images.theconversation.com/files/403129/original/file-20210527-21-wxxnze.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C4537%2C3022&q=45&auto=format&w=926&fit=clip", width: 200) %>
            <% end %>
            <div class="booking-details">
              <div class="info">
                <h2><%= link_to @booking.yacht.name, yacht_path(@booking.yacht) %></h2>
                <div class="info-detail">
                  <div class="short-desc">
                    <p>Start date: <%= @booking.start_date %></p>
                    <p>End date: <%= @booking.end_date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ul>
  </div>
</div>

<br>

<div class="links">

  <%= link_to "See All My Bookings", bookings_path %>

  <%= link_to "Change This Booking", edit_booking_path(@booking) %>

  <%= link_to "Delete This Booking", booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

</div>
