<div class="container pt-6">
  <div class="row justify-content-center">
    <h2 class="text-center mb-4" style="font-family: Inter, sans-serif">Update Yacht Details</h2>
    <div class="card p-3 shadow-lg col-lg-8 col-md-8 col-sm-12">
      <%= simple_form_for @yacht do |f| %>
        <%= f.input :name %>
        <%= f.input :length %>
        <%= f.input :capacity %>
        <%= f.input :description %>
        <%= f.input :crew %>
        <%= f.input :price_per_day %>
        <%= f.input :location %>
        <%= f.input :cabin %>
        <%= f.input :speed %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Update My Yacht", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
