<div class="container">
  <div class="row">
    <% @yachts.each do |yacht| %>
    <div class="spacing col-lg-6 col-md-12 col-sm-12">
      <%= link_to yacht_path(yacht) do %>
      <div class="card">
        <% if yacht.photos.attached? %>
          <%= cl_image_tag yacht.photos.first.key %>
        <% else %>
          <img src="https://images.theconversation.com/files/403129/original/file-20210527-21-wxxnze.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C4537%2C3022&q=45&auto=format&w=926&fit=clip" />
        <% end %>
        <div class="card-infos">
          <div>
            <h2><%= yacht.name %></h2>
            <div class="short-desc">
              <p>Length: <%= yacht.length %> |</p>
              <p>Capacity: <%= yacht.capacity %> |</p>
              <p>Cabins: <%= yacht.cabin %> |</p>
              <p>Location: <%= yacht.location %></p>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
