<div class="container">
  <div class="row">
    <% @yachts.each do |yacht| %>
      <div class="card col-6">
        <img src="https://yachtshop.bluewateryachting.com/media/cache/app_shop_yacht_large_thumbnail/56/da/b2faecfaf01d3b7e74f66ecf8711.jpeg" />
        <div class="card-infos">
          <div>
            <h2><%= yacht.name %></h2>
            <div class="short-disc">
              <p>Length: <%= yacht.length %> |</p>
              <p>Capacity: <%= yacht.capacity %> |</p>
              <p>Cabins: <%= yacht.cabin %> |</p>
              <p>Location: <%= yacht.location %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
