<div class="front-img">
  <% if @yacht.photos.attached? %>
   <%= cl_image_tag @yacht.photos.first.key %>
  <% else %>
    <%= image_tag("https://images.theconversation.com/files/403129/original/file-20210527-21-wxxnze.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C4537%2C3022&q=45&auto=format&w=926&fit=clip") %>
  <% end %>
</div>

<br>

<h1><strong><%= @yacht.name %><strong></h1>

<div class="description">
  <p><%= @yacht.description %></p>
</div>

<br>

<div class="features">
  <div class="feature">
    <i class="fa-solid fa-ruler"></i>
    <p>Length: <%= @yacht.length %> m</p>
  </div>
  <div class="feature">
    <i class="fa-solid fa-person"></i>
    <p>Capacity: <%= @yacht.capacity %></p>
  </div>
  <div class="feature">
    <i class="fa-solid fa-person-booth"></i>
    <p>Cabins: <%= @yacht.cabin %></p>
  </div>
  <div class="feature">
    <i class="fa-solid fa-anchor"></i>
    <p>Crew: <%= @yacht.crew %></p>
  </div>
  <div class="feature">
    <i class="fa-solid fa-gauge-high"></i>
    <p>Speed: <%= @yacht.speed %> knots</p>
  </div>
  <div class="feature">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    <p>Price/day £<%= @yacht.price_per_day %></p>
  </div>

  <div class="feature">
    <i class="fa-solid fa-location-dot"></i>
    <p>Location: <%= @yacht.location %></p>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <% @yacht.photos.each do |photo| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="shadow-img">
          <%= cl_image_tag photo.key, width: 300 %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<br>

<div class="map">
  <h2>Current Location:<strong> <%= @yacht.location %><strong></h2>
  <div class="map-card">
    <div style="width: 100%; height: 300px;"
      data-controller="map"
      <%# We need to pass @marker here instead of @markers in the lecture notes %>
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<br>

<% if current_user != @yacht.user %>
  <div class="booking">
    <h2><strong>Book <%= @yacht.name %><strong></h2>
    <div class="booking-card">
      <%= simple_form_for [@yacht, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <br>
        <div class="button-wrapper">
          <%= f.submit "Book", class: "book-button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<div class="container mb-5">
  <div class="button">
    <%= link_to "Back", yachts_path %>
  </div>

  <% if current_user == @yacht.user %>
    <div class="actions">
      <div class="button">
        <%= link_to "Delete Yacht",
          yacht_path(@yacht),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>

      <div class="button">
        <%= link_to "Edit Yacht",
          edit_yacht_path(@yacht) %>
      </div>
    </div>
  <% end %>
</div>
