<div class="container mt-5">
  <div class="yacht-card">
    <h2><%= @yacht.name %></h2>
    <div class="rating_bar">
      <span>★ 5.0  ·</span>
      <span class="location">
        <u><%= @yacht.location %></u>
      </span>
    </div>
  </div>

  <div class="features">
    <div class="feature">
      <i class="fa-solid fa-ruler"></i>
      <p>Length: <%= @yacht.length %> m</p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-person"></i>
      <p>Capacity: <%= @yacht.capacity %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-person-booth"></i>
      <p>Cabins: <%= @yacht.cabin %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-anchor"></i>
      <p>Crew: <%= @yacht.crew %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-gauge-high"></i>
      <p>Speed: <%= @yacht.speed %> knots</p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <p>Price/day £<%= @yacht.price_per_day %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-location-dot"></i>
      <p>Location: <%= @yacht.location %></p>
    </div>
  </div>

  <br>

  <div class="content-container">
    <div class="images">
      <% @yacht.photos.each do |photo| %>
        <div class="image">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
    </div>
    <div class="info">
      <div class="description">
        <h2>Description</h2>
        <p><%= @yacht.description %></p>
      </div>
      <div class="booking">
        <h3>Book</h3>
      </div>
      <div class="map">
        <h3>Map</h3>
      </div>
    </div>
  </div>

  <br>
  <div class="actions">
    <div class="button">
      <%= link_to "Delete Yacht",
        yacht_path(@yacht),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
    <div class="button">
      <%= link_to "Edit Yacht",
        edit_yacht_path(@yacht) %>
    </div>
  </div>
</div>
