<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)),url(https://res.cloudinary.com/dqebjuhkq/image/upload/v1669136685/https___d1e00ek4ebabms.cloudfront.net_production_95d65ea6-2739-4f0b-9223-017849b04180_l5zyij.avif);">
  <div class="banner-text">
    <h1><%= @yacht.name %></h1>
    <br>
    <div class="button-wrapper">
      <p class="book-button"><%= link_to "Book Yacht", new_yacht_booking_path(@yacht) %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="features">
    <div class="feature">
      <i class="fa-solid fa-ruler"></i>
      <p>Length <%= @yacht.length %> sqm.</p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-person"></i>
      <p>Capacity <%= @yacht.capacity %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-person-booth"></i>
      <p>Cabins <%= @yacht.cabin %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-anchor"></i>
      <p>Crew <%= @yacht.crew %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-gauge-high"></i>
      <p>Speed <%= @yacht.speed %> knots</p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <p>Price/day £<%= @yacht.price_per_day %></p>
    </div>
    <div class="feature">
      <i class="fa-solid fa-location-dot"></i>
      <p>Location <%= @yacht.location %></p>
    </div>
  </div>

  <br>

  <div class="description">
    <p>Description: <%= @yacht.description %></p>
  </div>

  <br>

  <div class="images">
    <% @yacht.photos.each do |photo| %>
      <div class="image">
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="btn btn-primary shadow p-3 mb-5 rounded">
    <%= link_to "Delete Yacht",
      yacht_path(@yacht),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
</div>
